public/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dayny</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Oswald|Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="shortcut icon" href="./images/favicon.ico">
    <script type="text/javascript" src="./js/index.js"></script>
    
  </head>
  <body>
    <header>
      <nav class="col-nav"><a href="#" onclick="">Contact     </a><a href="#" onclick="">Board</a><a href="#" onclick="">Reserve</a><a href="#" onclick="">Gallery</a><a href="#" onclick="">Privacy</a></nav>
    </header>
    <div class="top">
      <p>top contents 12345</p>
      <p>top contents 34562</p>
    </div>
    <div class="grid col-main">
      <li class="grid-item"><a href="#"><img src="https://i.vimeocdn.com/video/616697471_1560x878.jpg">
          <p>Aaaaa Bbbb  1</p></a></li>
      <li class="grid-item"><a href="#"><img src="https://i.vimeocdn.com/video/616697471_1560x878.jpg">
          <p>Aaaaa Bbbb  2</p></a></li>
      <li class="grid-item"><a href="#"><img src="https://i.vimeocdn.com/video/616697471_1560x878.jpg">
          <p>Aaaaa Bbbb  3</p></a></li>
      <li class="grid-item"><a href="#"><img src="https://i.vimeocdn.com/video/616697471_1560x878.jpg">
          <p>Aaaaa Bbbb  4</p></a></li>
      <li class="grid-item"><a href="#"><img src="https://i.vimeocdn.com/video/616697471_1560x878.jpg">
          <p>Aaaaa Bbbb  5</p></a></li>
      <li class="grid-item"><a href="#"><img src="https://i.vimeocdn.com/video/616697471_1560x878.jpg">
          <p>Aaaaa Bbbb  6</p></a></li>
      <li class="grid-item"><a href="#"><img src="https://i.vimeocdn.com/video/616697471_1560x878.jpg">
          <p>Aaaaa Bbbb  7</p></a></li>
      <li class="grid-item"><a href="#"><img src="https://i.vimeocdn.com/video/616697471_1560x878.jpg">
          <p>Aaaaa Bbbb  8</p></a></li>
      <li class="grid-item"><a href="#"><img src="https://i.vimeocdn.com/video/616697471_1560x878.jpg">
          <p>Aaaaa Bbbb  9</p></a></li>
      <li class="grid-item"><a href="#"><img src="https://i.vimeocdn.com/video/616697471_1560x878.jpg">
          <p>Aaaaa Bbbb  10</p></a></li>
    </div>
    <div class="scrollContainer">
      <div id="scrollbar"></div>
    </div>
    <script src="./js/scrbar.js"></script>
    <script>new CstmScrollbar( document.getElementById('scrollbar') );</script>
    <!--footer.footer: <br><br><br>
    #short
      //- img(src="images/beige20x22.png" alt="logo")
      a(href="./index.html") HOME
      a(href="./about.html") ABOUT
      a(href="./privacy.html") PRIVACY
      a(href="./faq.html") FAQ
    <br><br>
    //--#sum TEL. 010.4234 - 8199 / AM 10:00 - PM 06:00 / WOORI BANK 1002-840-056661 / NAEN Studio.<br><br>
    //--#sums NAEN Studio./38-21, Digital-ro 31-gil, Guro-gu, Seoul/ TEL. 010.4234-8199 / E-MAIL mydaynys@gmail.com<br>
          |BUSINESS REG.NO : 285-27-00312 / CEO : CHOI SE JUN<br>
          |COPYRIGHT (c) NAEN Studio ALL RIGHTS RESERVED.<br>
    -->
  </body>
</html>

template/index.pug
//output: ../public/index.html
//{
    titles: "Dayny",
    myFunc: function(){
      return true;
    }
  }
extends ./includes/layout.jade

block infiles
  script(type="text/javascript" src="./js/index.js")

block contents
  header
    nav.col-nav
      a(href="#" onclick="") Contact     
      a(href="#" onclick="") Board
      a(href="#" onclick="") Reserve
      a(href="#" onclick="") Gallery
      a(href="#" onclick="") Privacy

    //- .wrapper
    //-   p mainW

  .top
    p top contents 12345
    p top contents 34562
  

  .grid.col-main
    - var n = 0;
    while n++ < 10
      li.grid-item
        a(href="#")
          img(src="https://i.vimeocdn.com/video/616697471_1560x878.jpg")
          p= "Aaaaa Bbbb  "+ n

  .scrollContainer
    #scrollbar

  script(src="./js/scrbar.js")
  script.
    new CstmScrollbar( document.getElementById('scrollbar') );
